
<body>
<div class="headingWrapper">
  <div class="subnav textAlignCenter">
    <a href="javascript:void(0);">Schedule</a>
    <a href="javascript:void(0);">Speakers</a>
    <a href="javascript:void(0);">Workshop</a>
    <a href="javascript:void(0);">Contact</a>
    <a href="javascript:void(0);">Sponsorship</a>
    <a href="javascript:void(0);">Venue</a>
  </div>
  <div class="textAlignCenter">
    <%= image_tag "header-logo.png", { height: "100", width: "200" } %>

    <div class="font22 margin15">22nd-23rd June, 2014</div>
    <div class="font14">Save this date to your calendar for<br/>firstever Deccan RubyConf</div>
    <div class="btnSection textAlignCenter">
      <div id="bcumSpeaker" class="dIB font14"><%= link_to "BECOME A SPEAKER", 'https://deccanrubyconf.busyconf.com/proposals/new', {style: 'color: #FFFFFF; text-decoration:none;'}%></div>
    </div>
  </div>
</div>
<div class="shareWrapper font22 textAlignCenter">
  FOLLOW US ON
  <div class="dIB bgBlue"><span class="twIcon"></span></div>
  <div class="dIB bgBlue"><span class="twIcon"></span></div>
  <div class="dIB bgBlue"><span class="twIcon"></span></div>

  <div>
  </div>
  <div class="jcarousel textAlignCenter">
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
  </div>

  <div class="speakerWrapper">
    <div class="textAlignCenter sneakpeakTxt">
      Here is the Sneak-Peak of Invited/Speakers<br/>
      for Deccan RubyConf 2014
    </div>
    <div class="speaker dIB">
      <%= image_tag "speakers/vipul.jpg", { height: "200", width: "200", style: "border-radius: 100px;" } %>

      <div class="speakerName">Vipul A M</div>
      <div class="speakerDesg">Designer</div>
      <div class="shareIcons">
        <div class="dIB"><a href="" class="deccanRubySprite smallIcons twSmallIcon"></a></div>
        <div class="dIB"><a href="" class="deccanRubySprite smallIcons gitSmallIcon"></a></div>
      </div>
    </div>
    <div class="speaker dIB">
      <%= image_tag "speakers/vipul.jpg", { height: "200", width: "200", style: "border-radius: 100px;" } %>

      <div class="speakerName">Vipul A M</div>
      <div class="speakerDesg">Designer</div>
      <div class="shareIcons">
        <div class="dIB"><a href="" class="deccanRubySprite smallIcons twSmallIcon"></a></div>
        <div class="dIB"><a href="" class="deccanRubySprite smallIcons gitSmallIcon"></a></div>
      </div>
    </div>
  </div>
</div>

<div>
  <img src=""/>
</div>

<script src="http://d3js.org/colorbrewer.v1.min.js"></script>
