.subnav {
  text-align: center;
  opacity: 0.7;
}

.subnav a {
  display: inline-block;
  margin: 10px;
  color: #000;
  font-weight: 900;
}

.dIB {
  display: inline-block;
}

.textAlignCenter {
  text-align: center;
}

.headingWrapper {
  color: #fff;
//  background-color: #dd0017;
  min-height: 300px;
}

.shareWrapper {
  color: #ccc;
  min-height: 40px;
  font-weight: bold;
  vertical-align: middle;
  padding: 10px;
  line-height: 44px;
}

.sloganCarousel {
  background-color: #ccc;
  color: #000;
  min-height: 100px;
}

.speakerWrapper {
  font-size: 17px;
  color: #333;
  line-height: 20px;
}

.sneakpeakTxt {
  padding: 30px;
}

.speaker {
  height: 350px;
  width: 317px;
}

.font22 {
  font-size: 22px;
  font-weight: 900;
}

.font14 {
  font-size: 14px;
}

.margin15 {
  margin: 15px;
}

#bookTicket, #bcumSponsor, #bcumSpeaker {
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  margin: 10px;
  color: #055487;
  font-weight: 900;
}

.noLink{
  color: #FFFFFF;
  text-decoration: none!important;
}

.twIcon {
  background: url('/assets/deccanRubySprite.jpg');
  height: 30 px;
  width: 30px;
  display: inline-block;
  background-size: 30px 30px;
}

.twIconSmall {
  background: url('/assets/deccanRubySprite.jpg');
  height: 10 px;
  width: 10px;
  display: inline-block;
  background-size: 10px 10px;
}

.bgBlue {
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}

.bgBlue:hover {
  //background-color: blue;
}

.followUs {
    margin-right: 25px;
    width: 70px;
}

.followUs .twIcon a:hover {
    background-color: blue;
}

body {
  // width: 980px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.speakerName {
  padding: 10px;
  color: #dd0017;
  font-weight: 300;
}

.speakerDesg {
  font-size: 14px;
  color: #666;
}

.jcarousel {
  position: relative;
  overflow: hidden;
}

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel li {
  float: left;
}

.deccanRubySprite {
  background: url('/assets/deccanRubySprite.jpg') no-repeat scroll 0 0 transparent;
}

.smallIcons {
  height: 20px;
  width: 20px;
  display: inline-block;
}

.fbSmallIcon {
  background-position: 0px 0px;
}

.fbSmallIcon:hover {
  background-position: 0px -23px;
}

.inSmallIcon {
  background-position: -25px 0px;
}

.inSmallIcon:hover {
  background-position: -25px -23px;
}

.twSmallIcon {
  background-position: -52px 0;
}

.twSmallIcon:hover {
  background-position: -52px -23px;
}

.gitSmallIcon {
  background-position: -77px 0;
}

.gitSmallIcon:hover {
  background-position: -77px -23px;
}

.deccan {
    font-size: 100px;
    font-weight: 900;
    color: #fff;
}